.stone-rotate-user {
  transform: rotate(90deg);
}

.stone-rotate-pc {
  transform: rotate(-90deg) rotateY(180deg);
}

.paper-rotate-user {
  transform: rotate(90deg);
}

.paper-rotate-pc {
  transform: rotate(-90deg) rotateY(180deg);
}

.scissors-rotate-user {
  transform: rotateY(180deg);
}
